.qty_product{
    background-color: lightblue;
    position: absolute;
    top: 0;
    right: 0;
    text-align: end;
    font-size:small;
    font-weight: 700;
    padding: 5px;
}

.instock{
    background-color: lightgreen;
    color: green;
}

.outofstock{
    background-color: lightcoral;
    color: darkred;
}

.product:hover{
    border: 1px solid red;
    transform:scale(0.98);
}

.price-tag{
    color: peru !important;
    font-size: medium;
}

.product-name{
    font-size: 12px;
}

.pos .control-button:hover{
    background-color:lightgreen !important;
    color: white;
}